*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  line-height:1.5;
  box-sizing:border-box;
}
:root{
--color:#ff282b ;
} 

section{
  height: 100vh;
  display: flex;
  align-items: center;
  background: #101010;
}

.container{
  width: 100%;
  max-width: 1160px;
  margin:0 auto;
  padding: 0 20px;
}


.grid{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.left img{
  max-width: 60%;
  height: auto;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 20%;
  border: 0.1mm solid black;
}

.right > *{
  margin-bottom:1.3rem;
  color: #fff;
}

.right h4{
  font-weight: 500;
  background-color: var(--color);
  display: inline-block;
  padding: 2px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.right h3{
  font-size: 20px;
}

.right h3 span{
  color: var(--color);
  font-size: 20px;
}

.right h1{
  font-size: 2rem;
  font-weight: 700;
}

.right p{
  text-align: justify;
}

.btn{
  text-decoration: none;
  display:inline-block;
  padding:11px 25px;
  border:2px  solid var(--color);
  border-radius: 5px;
  position: relative;
  text-align: center;
  z-index: 1;
   border-bottom:1px  solid var(--color) ;
    border-top:1px  solid var(--color) ;
}

.btn::after{
  content: "";
  background-color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover:after{
  width: 100%;
}

 .bold{
  font-weight: bold;
  display: inline;
}

#red{
  color: whitesmoke;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

@media(max-width:768px) {
  .grid{
    grid-template-columns:1fr;
  }
}

